/*=============== FONT ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

/*=============== RESET ===============*/

*, *:before, *:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    text-decoration: none;
    list-style: none;
  }
  
html{
scroll-behavior: smooth;
/* height: 100%; */
}
  
body{
    background-color: black;
    font-family: "Poppins", sans-serif;
}

header{
    width: 100%;
    background-color: black;
    height: 5em;
    /*this makes the navbar sticky  */
    position: sticky;
    top: 0;
    left: 0;
    transition: backgound-color 0.4s ease-in-out;

}

/* header.scrolled{
    background-color: pink;
    opacity: 0.98;
} */

header nav{
    /* padding: 1.5em 0 1.5em 5em; */
    padding: 1.5em 5em;
}

.navbar li {
    margin-right: 20px;
  }

header nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav a {
    /* text-decoration: none; */
    color: white;
    font-size: 1.3em;
    margin: 1em;
    transition: color 0.4s ease-in-out;

}

/* header.scrolled nav a{
    color: black;
} */

div{
    /* height: 1500px; */
    padding: 2em 6em;
    /* text-align: center; */
}

h1{
    font-size: 5.4em;
    color: white;
    text-align: center;
}
p{
    font-size: 1.4em;
    color: white;
    text-align: center;
}



/* Add styles for the sticky header */
.sticky {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: rgb(206, 128, 128); /* Change this to your desired background color */
    z-index: 1000; /* Ensure it stays on top of other content */
  }


  @media all and (max-width: 480px) { 
    div{
        padding: 2em;
    }
  }